<div class="container-fluid">
  <div class="parallax d-flex flex-column align-items-center justify-content-center">
    <span class="inside-caption">Pregledi</span>
  </div>
  <div class="servis">
    <p class="p">
      Drago nam je što ste ovde. Da bismo nastavili rad i sprečili zarazu, pomozite nam držanjem bezbednog rastojanja i nošenjem zaštitne opreme. Takodje, sva zakazivanja obaviti online, a u hitnom slučaju pozovite telefonom. Hvala na razumevanju, vaša Ready Vet klinika.
    </p>
  </div>
  <p class="text">Da li ste ranije posetili našu kliniku?</p>
  <div class="row justify-content-center align-items-center">
   <button
    type="button"
    class="btn btn-primary ml-2 btn-sm text-uppercase"
    (click)="onLogin()"
    >
      Da, moj kućni ljubimac ima otvoren karton
    </button>
    <button
    type="button"
    class="btn btn-primary ml-2 btn-sm text-uppercase"
    (click)="goToRegistration()"
    >
      Ne, ja sam novi korisnik
    </button>
  </div>
</div>

 
