.parallax {
    min-height: 350px;
    background-position: center bottom !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-image: url("../../../../../assets/images/contact.jpg");
  }
  
  .inside-caption {
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
  }
  
  hr.light-100 {
    border-top: 1px solid #F5F5F5;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  @media screen and (min-width: 501px) {
    h5 {
      font-size: 20px;
    }
  }
  
  @media screen and (max-width: 500px) {
    h5 {
      font-size: 13px;
    }
    h1 {
      font-size: 28px;
    }
  }
  
