.bg-metal {
    border: 4px solid;
    border-bottom: 20px solid;
    border-top: 0px;
    border-color: #bdd4e7;
    border-image-source: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
    border-image-slice: 1;
    height: 40px;
    min-width: 200px;
}
.border-metal {
    border: 4px solid;
    border-bottom: 10px solid;
    border-color: #bdd4e7;
    border-image-source: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
    border-image-slice: 1;
}
.background-metal {
    background-color: #bdd4e7;
    background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
}
.shadow {
    -webkit-box-shadow: 45px 44px 45px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 45px 44px 45px -8px rgba(0,0,0,0.75);
    box-shadow: 45px 44px 45px -8px rgba(0,0,0,0.75);
}
.max-height-200 {
    max-height: 350px;
}
.white-title {
    font-size: 24px;
    color: whitesmoke;
}
.text-primary{
    font-size: 22px;
}
textarea {
    width: 300px;
}
.home-tab {
    width: 75%; 
}
