<div style="text-align: center;background-color: #FFFFFF;">
  <div style="border: 16px solid #1761A0; background-color: #FFFFFF; border-radius: 16px; padding: 16px; text-align: center; display: inline-block;">
    <h1 style="color: #1761A0;line-height: 30px;">Imejl verifikacija</h1>
    <p>
      Zdravo <%= name %>!
    </p>
    <p>
      Na koraku ste do registracije
    </p>
    <p>
      Kliknite na dugme 'Potvrdi imejl adresu' kako biste verifikovali vaš imejl.
    </p>
    <br/>
    <a
      href="<%= verifyUrl %>"
      target="_blank"
      style="background-color:#1761A0; text-decoration: none; color: #FFFFFF; font-size: 24px; padding: 12px; border-radius: 18px; display: inline-block;"
    >
    Potvrdi imejl adresu
    </a>
  </div>
</div>