<div class="container-fluid">
  <div class="row vh-90">
    <div class="col-12 col-md-6 col-lg-4 auth-bg-image d-flex flex-column justify-content-start align-items-stretch p-0">
      <div class="d-flex justify-content-center align-items-center flex-fill">
        <img class="logo m-3" src="../../../../../assets/images/readyVetT.png" alt="ready-vet-logo">
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-8">
      <div class="row justify-content-center mt-2">
        <a class="active-page nav-link text-uppercase border-right" [routerLink]="['/vet/login']">Prijava</a>
        <a class="nav-link text-uppercase" [routerLink]="['/vet/register']">Registracija</a>
      </div>
      <div class="row d-flex flex-column pb-15 justify-content-center h-90 align-items-center">
        <div class="naslov text-primary">
          <label>Dobrodošli nazad</label>
        </div>
        <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off" class="w-50 mt-2">
          <div class="form-group">
            <div class="form-group">
              <label class="text-secondary" for="email">Imejl adresa</label>
              <span class="text-danger ml-1">*</span>
              <input
                id="email"
                name="email"
                class="form-control form-control-lg"
                type="email"
                [(ngModel)]="data.email"
                placeholder="example@mail.com"
                autocomplete="off"
                email
                required
              />
            </div>
            <label class="text-secondary" for="password">Šifra</label>
            <span class="text-danger ml-1">*</span>
            <div class="input-group mb-3">
              <input [type]="!showPassword ? 'password' : 'text'" name="password"
                [(ngModel)]="data.password"
                id="password"
                class="form-control form-control-lg"
                placeholder="Sifra"
                aria-label="PASSWORD"
                autocomplete="off"
                required>
              <div class="input-group-append">
                <button class="show-hide-pass" type="button" (click)="toggleShowPassword()">
                  <fa-icon class="text-secondary" [icon]="faEye" *ngIf="!showPassword"></fa-icon>
                  <fa-icon class="text-secondary" [icon]="faEyeSlash" *ngIf="showPassword"></fa-icon>
                </button>
              </div>
            </div>
            <div class="row justify-content-center">
              <button type="submit" class="btn btn-primary btn-lg text-light w-50"
                [disabled]="isLoginInProgress || !loginForm.form.valid">Prijavite se</button>
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
