<div class="container-fluid">
    <div class="parallax d-flex align-items-center justify-content-center">
        <span class="inside-caption">Veterinar</span>
    </div>
    <div class="vet">
        <div class="profile">
            <div class="vetPic">
                <img *ngIf="!previewUrl" class="pic" src="{{ generateUrl(veterinarian?.image) }}" alt="">
                <img *ngIf="previewUrl" class="pic" src="{{ previewUrl }}" alt="">
            </div>
            <div class="name1">{{veterinarian?.name}} {{veterinarian?.surname}}</div>
            <hr class="light-100">
            <hr class="light-100">
            <div class="div1">
                <div class="impres">Utisci:</div>
                <div class="num">{{veterinarian?.averageMark || '0'}} / 5</div>
            </div>
            <hr class="light-100">
            <div class="div1">
                <div class="edu">Obrazovanje:</div>
                <div class="num">{{veterinarian?.education}}</div>
            </div>
            <hr class="light-100">
            <div class="div3 mt-2" *ngIf="isLoggedVet">
                <button type="button"
                class="btn btn-outline-primary w-75 text-primary"
                (click)="changeEducation()">Izmeni obrazovanje</button>
                <div class="mt-3 div3" *ngIf="userWantToAddEduc">
                    <input
                    name="education"
                    class="form-control"
                    type="text"
                    [(ngModel)]="veterinarian.education"
                    placeholder="Obrazovanje veterinara"
                    required
                    autocomplete="off"
                    />
                    <button type="button"
                    class="btn btn-danger w-100 mt-3"
                    (click)="updateUser()" [disabled]="!veterinarian?.education">Sacuvaj promene</button>
                </div>
            </div>
        </div>
        <div class="comments">
            <div class="top">
                <div class="top-left">
                    <h4 class="a123">Profil: {{veterinarian?.name}} {{veterinarian?.surname}}</h4>
                    <div class="div2" *ngIf="veterinarian?.averageMark">
                        <ngb-rating [(rate)]="veterinarian.averageMark" [max]="5" [readonly]="true" [starTemplate]="t">
                        </ngb-rating>
                    </div>
                    <div class="div2">Ocena: {{ veterinarian?.averageMark || '0' }} / 5</div>
                    <div class="div2">Broj utisaka: {{totalFeedbacks}}</div>
                </div>

                <div class="top-right" *ngIf="isLoggedVet">
                    <button type="button" class="btn btn-outline-primary text-primary"
                        (click)="fileInput.click()">Postavi sliku</button>
                    <div *ngIf="imgFile" class="savePhoto">
                        <button class="btn btn-outline-success mt-3" (click)="editProfile()">
                            Sacuvaj izmene
                        </button>
                        <button class="btn btn-outline-danger mt-3" (click)="clearImage(fileInput)">
                            Obrisi izmene
                        </button>
                    </div>
                    <input id="animal-image" type="file" #fileInput class="d-none" name="animalImage"
                        (change)="uploadFile($event)" accept="image/png, image/jpeg" />
                </div>
            </div>
            <hr class="light-100">
            <div class="middle1">
                <div class="sort">Utisci korisnika</div>
            </div>
            <hr class="light-100">
            <div class="bottom">
                <div class="impression" *ngFor="let feedback of vetFeedbacks">
                    <h4 class="who">{{ feedback?._medicalRecord?._petOwner?.name }}
                        {{ feedback?._medicalRecord?._petOwner?.surname }}</h4>
                    <div class="when">{{ getDate(feedback?.createdAt) }}</div>
                    <div class="stars" *ngIf="feedback?.mark">
                        <ngb-rating [(rate)]="feedback.mark" [max]="5" [readonly]="true" [starTemplate]="t">
                        </ngb-rating>
                    </div>
                    <div class="comment">{{feedback?.comment}}</div>
                    <hr class="light-100">
                </div>
            </div>
        </div>
    </div>

</div>
<ng-template #t let-fill="fill">
    <span class="star" [class.full]="fill === 100">
        <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
    </span>
</ng-template>