.footer {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.footer-left{
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer-center{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-right: 0px;
}

.map-image {
 width: 100%;
}

.text-sec{
  color: #1761A0;
  margin-right: 20px;
}

.footer-bottom{
  font-family: Roboto;
  font-style: normal;
  font-size: 18px;
  color: #000000;
  display: flex;
  justify-content: flex-start;
  flex:1;
  height: 100%;
}

.naslov{
  font-family: Alegreya Sans SC;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #B7B7B7;
  text-align: center;
}

.contant{
  display: flex;
  flex-direction: row;
  flex: 1;
  text-align: center;
}
.bg-grey {
  background-color: #EEE9E9;
}

img {
  height: 150px;
  width: 150px;
}